services:
  - type: web
    name: portfolio-api
    runtime: python
    rootDir: .
    buildCommand: pip install -r requirements.txt
    startCommand: python manage.py migrate && gunicorn portfolio_backend.wsgi:application
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: portfolio-db
          property: connectionString
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DJANGO_DEBUG
        value: "false"
      - key: DJANGO_ALLOWED_HOSTS
        value: "*"
      - key: CORS_ALLOWED_ORIGINS
        sync: false
      - key: CSRF_TRUSTED_ORIGINS
        sync: false

databases:
  - name: portfolio-db
    plan: free
